version: '3.7'
services: 
  discovery-service:
    image: manmohitarya/discovery-service
    ports:
      - 8761:8761
    container_name: discovery-service
    environment:
      - SPRING.APPLICATION.NAME=discovery-service
    networks:
      - ms-network-demo
  user-service:
    build: ./user-service
    ports:
      - 9001:9001
    container_name: user-service
    depends_on:
      - discovery-service
      - api-gateway
    networks:
      - ms-network-demo
  contact-service:
    build: ./contact-service
    ports:
      - 9002:9002
    container_name: contact-service
    depends_on:
      - discovery-service
      - api-gateway
    networks:
      - ms-network-demo
  api-gateway:
    build: ./api-gateway
    ports:
      - 9005:9005
    container_name: api-gateway
    depends_on:
      - discovery-service
    networks:
      - ms-network-demo
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka
networks:
    ms-network-demo:
